.sked-modal-bg {
  background: rgba(34, 48, 73,.2)
}

.sked-modal-small {
  width: 360px;
  min-height: 190px;
}

.sked-modal-position-top {
  // TODO: apply change on component library
  // top: 20%;  
}